* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    color: #212121;
    font-style: normal;
}

li {
    list-style: none;
    display: inline-block;
    margin: 5px;
}

.link {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.hero-block {
    display: flex;
}

.hero-links {
    width: 50%;
    display: inline-flex;
    justify-content: space-between;
}

/*===========BUTTONS=============*/
.button {
    color: #ffffff;
    background: mediumseagreen;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border: 2px solid black;
    min-width: 90px;
    font-size: 14px;
}

.create-button {
    color: #ffffff;
    background: mediumseagreen;
    display: inline-block;
    margin-left: auto;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
}

.logout-button{

    text-decoration: none;
    color: #ffffff;
    background: mediumseagreen;
    display: inline-block;
    margin-left: auto;
    padding: 10px 20px;
    cursor: pointer;
    border: 2px solid black;
}


.cancel-button {
    background: #ffffff;
    text-decoration: none;
    padding: 9px 20px;
    cursor: pointer;
    border: 2px solid black;
    display: inline-block;
    height: 40px;
    font-size: 14px;
    min-width: 90px;

}

.action-button {
    background-color: transparent;
    border: none;
    display: inline-block;
    margin-left: auto;
    cursor: pointer;
}

.button:focus,
.button:hover
.create-button:focus,
.create-button:hover {
    background-color: darkgreen;
}

.cancel-button:focus,
.cancel-button:hover {
    background-color: azure;
}

/*===========/BUTTONS=============*/
.hero {
    background: aliceblue;
    padding: 30px;
}

.title {
    margin: 0 auto;
    display: inline-block;
    width: 30%;
}

.content-area {
    margin: 0 auto;
    width: 50%;
}

.frame {
    margin: 5px;
}
.frame table th{
    width: 25%;
    text-align: left;
}

.frame table th:last-child{
    padding-left: 15px;
}

.frame table tbody{
    text-align: left;
}
.center {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 40%;
}

.bottom {
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}

.bottom-form {
    display: inline-block;
    margin-left: 10px;
}

.bottom-list {
    display: inline-block;
}

#setContent {
    width: 100%;
}


.login-input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sing-up-button {
    margin-top: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 14px;
}

.reg-form {
    max-width: 600px;
}

.sing-up-button-light{
    margin-top: 10px;
    width: 100%;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 10px ;
    display: block;
    color: black;
    border: 2px solid black;
    font-size: 14px;

}

.sing-up-button-light:focus,
.sing-up-button-light:hover {
    background-color: azure;
    cursor: pointer;
}

.registration-error{
    color: red;
    text-align: center;
}