<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log in</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
            rel="stylesheet"
    />
<!--    <link rel="stylesheet" href="../index.css"/>-->
</head>
<body class="hero">
<div class="container">

    <h1 class="center">Log in</h1>

    <form class="reg-form" action="/login" method="post">
        <label>Login
            <input type="text" class="login-input" value="" placeholder="Login" name="username" id="setEmail"></label>
        <label>Password
            <input type="text" class="login-input" value="" placeholder="Password" name="password" id="setPassword"></label>
        <button class="button sing-up-button" type="submit">Log in</button>
    </form>

    <a href="/register" class="sing-up-button-light">Sing up</a>

</div>
</body>
</html>
