<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Edit note</title>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
            href="https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="../../index.css"/>
</head>
<body class="hero">

<h1>Edit note</h1>

<form class="note-create" th:action="'/note/edit/'+ ${id} +'/save'" method="post">
    <p>Title <input type="text" class="title" th:value="${nameNotes}" name="setNameNotes" id="setNameNotes"></p>

    <p><textarea rows="20" th:text="${content}" name="setContent" id="setContent"></textarea></p>

    <input type="hidden" th:value="${id}">

    <div class="bottom">
        <ul class="bottom-list">
            <li>
                <input type="radio" id="private" name="access" value="PRIVATE"  th:checked="${access} == PRIVATE">
                <label for="private">Private</label>
            </li>
            <li>
                <input type="radio" id="public" name="access" value="PUBLIC" th:checked="${access} == PUBLIC">
                <label for="public">Public</label>
            </li>
        </ul>
        <div>
            <a href="/note/list" class="cancel-button">Cancel</a>
            <button class="button" type="submit">Save</button>
        </div>
    </div>
</form>
</body>
</html>